
.icon-arrow:before { content: '\e800'; } /* '' */
.icon-fish:before { content: '\e807'; } /* '' */
.icon-wave:before { content: '\e808'; } /* '' */
.icon-wedding-day:before { content: '\e80a'; } /* '' */
.icon-balloons:before { content: '\e80b'; } /* '' */
.icon-barbecue:before { content: '\e80c'; } /* '' */
.icon-sun2:before { content: '\e80d'; } /* '' */
.icon-palm:before { content: '\e80f'; } /* '' */
.icon-fishing:before { content: '\e810'; } /* '' */